@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* GENERAL */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 156px;
}
.header {
  background-color: #4694dc;
  min-height: 500px;
  padding-top: 121px;
  padding-bottom: 50px;
}
/* .header_inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
} */
.header_title {
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-weight: 600;

  color: #fff;
}
.header_text {
  margin-top: 32px;
  max-width: 437px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
.header_button {
  margin-top: 50px;
  font-size: 16px;
  font-family: "Montserrat";
  padding: 18px 38px;
  color: #000;
  border: none;
}
.section_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 74px;
}
.section_padding {
  padding: 100px 0px 50px 0px;
}
.section_title {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  text-align-last: center;
  margin-bottom: 29px;
  letter-spacing: 3px;
}
.section_desc {
  font-size: 16px;
  color: #9ca3af;
  text-align: center;
  max-width: 465px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.5px;
}
.section_items {
  display: flex;
  max-width: 888px;
  margin: 0 auto;
}
.section_item {
  display: flex;
  flex-basis: 33.333%;
  min-height: 178px;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  /* justify-content: center; */
}
.section_item > img {
  width: 50px;
}
.section_item > h5 {
  margin-top: 26px;
  color: #9ca3af;
  font-weight: 600;
}
