/* GENERAL */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 156px;
}
.header {
}
.header_title {
}
.header_text {
}
.header_button {
}
